@mixin media-query($breakpoint) {
  @if $breakpoint == tablet {
    @media (min-width: 600px) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media (min-width: 900px) {
      @content;
    }
  }
}

:root {
  --main-font-family: "Arial", "Helvetica", sans-serif;
  --main-text-color: #333333;
  --test-color: pink;
}

html {
  box-sizing: border-box;
  font-family: var(--main-font-family);
  line-height: 1.5;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: var(--main-text-color);
}

h1,
h2 {
  margin: 0;
}

p {
  margin-top: 0;
}

button {
  cursor: pointer;
}

.inner {
  max-width: 1000px;
  margin: 0 auto;
  padding-left: 10px;
  padding-right: 10px;
}

.header {
  // background-color: #333;
  // color: #fff;
  padding: 20px 0;
  background-color: #eeeeee;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__button {
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    transition: background-color 0.3s;

    &:hover {
      background-color: #555555;
    }
  }

  &__button-icon {
    rotate: 45deg;
    margin-left: 10px;
  }
}

.content {
  padding-top: 20px;
}

.search-and-filter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 20px;
  gap: 10px;

  @include media-query(tablet) {
    flex-direction: row;
    gap: 20px;
  }
  // &__search-container {
  //   flex-grow: 1;
  //   padding: 10px;
  //   border: 1px solid #ccc;
  //   border-radius: 5px;
  //   margin-right: 20px;
  // }

  &__search {
    width: 100%;
    border: none;
    font-size: 1.2rem;
    padding: 20px 30px;
    color: var(--main-text-color);

    // margin-right: 20px;
  }

  &__filter {
    background-color: #fff;
    padding: 10px;
    // border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
}

.notes-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
}
